.card {
  width: 100%;
  border: none;
  box-shadow: 2px 2px 15px rgba(23, 23, 23, 0.1);
  background-color: $white;
  border-radius: 20px;
}

.lead-block__text {
  max-width: 365px;
}

.lead-block .photo {
  background-position: 50% 0%;
}
