.card--good {
  .mb-col {
    margin-bottom: 1rem;
  }

  .card__info .card__favorite {
    display: none;
  }
}

.catalog-content__item {
  .card__price {
    margin-bottom: 1rem;
  }

  .card__title {
    font-size: 18px;
  }

  .card__price--old {
    &::before {
      display: none;
    }
  }
  .card__line {
    position: relative;
    width: fit-content;
    margin: 0 auto;

    &::before {
      position: absolute;
      content: "";
      height: 1.5px;
      width: 100%;
      left: 0;
      top: 46%;
      transform: rotate(-11deg);
      background-color: #FB7988;
    }
  }
}

.catalog-content--row {
  .card--good {
    flex-direction: row;
    align-items: center;
  }

  .card__title {
    height: auto;
    font-size: 16px;
    margin-bottom: 0.7rem;
  }

  .card__side {
    margin-left: auto;
  }

  .quantity {
    margin-right: 40px;
  }

  .card__price {
    margin-left: auto;
    margin-bottom: 0;
    min-width: 110px;
    text-align: center;
  }

  .card__prices {
    padding-right: 0;
  }

  .card__prices-block {
    margin-left: auto;
  }

  .card__sale {
    display: none;
  }

  .mb-col {
    margin-bottom: 0;
  }

  .card--good .card__img {
    height: 115px;
    width: 120px;
    margin-right: 20px;

    img {
      max-height: 115px;
      max-width: 120px;
    }
  }

  .card__favorite {
    display: none;
  }

  .card__info {
    width: 260px;

    @media (max-width: $media-md) {
      width: 210px;
    }

    @media (max-width: 1099px) {
      width: 180px;
    }
  }

  .card__info .card__favorite {
    display: block;
    position: static;
  }
}

.catalog-content--row .catalog-content__item {
  flex: 0 0 100%;
  width: 100%;
  max-width: 100%;
}

.gallery {
  position: relative;
  overflow: hidden;
  border-radius: 15px;
}

.gallery__img {
  height: 335px;
  border-radius: 15px;

  @media (max-width: $media-td) {
    height: 260px;
  }

  @media (max-width: $media-tb) {
    height: 200px;
  }

  @media (max-width: $media-sm) {
    height: 185px;
  }
}

.good-block .favorites {
  margin-left: auto;
  margin-bottom: 0;

  label {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    cursor: pointer;
  }

  svg {
    fill: none;
    transition: all 0.3s;

    &:nth-of-type(2) {
      display: none;
    }
  }

  span {
    display: inline-block;
    height: 23px;
  }

  @media (min-width: $media-tb) {
    &:hover {
      svg {
        stroke: rgba(67, 66, 66, 0.15);
      }

      span + span {
        color: $blue;
      }
    }
  }

  input {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
  }

  input:checked + span {
    svg {
      &:first-of-type {
        display: none;
      }

      &:nth-of-type(2) {
        display: block;
      }
    }
  }

  span {
    transition: all 0.3s;
    user-select: none;
    color: rgba(0, 0, 0, 0.4);
  }

  @media (max-width: $media-sm) {
    margin-left: 0;
  }
}
