.desk-menu {
  display: none;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 8;
  background-color: $white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
  box-shadow: 0 5px 6px rgba(4, 20, 106, 0.12);

  .container {
    margin-top: 15px;
    margin-bottom: 15px;
    height: 350px;
    overflow-y: scroll;
  }

  .container::before {
    @include pseudo;

    right: 97%;
    top: 0;
    height: 100%;
    width: 1000px;
    background-color: $white;
  }
}

.list--dot {
  a {
    position: relative;
    padding-left: 15px;
    padding-bottom: 12px;
    font-size: 16px;
    font-weight: 500;
    color: $black;

    &::before {
      @include pseudo;

      background-color: $blue;

      width: 5px;
      height: 5px;
      left: 0;
      top: 6px;
      border-radius: 50%;
      transition: all 0.3s;
    }

    &.hover {
      color: $blue;

      &::before {
        background-color: $blue;
      }
    }

    @media (min-width: $media-tb) {
      &:hover {
        color: $blue;

        &::before {
          background-color: $blue;
        }
      }
    }
  }
}

.desk-menu__title {
  font-weight: 600;
  color: $blue;
  font-size: 18px;
  margin-bottom: 8px;
}

 /* полоса прокрутки (скроллбар) */
.desk-menu .container::-webkit-scrollbar {
  width: 10px; /* ширина для вертикального скролла */
  height: 8px; /* высота для горизонтального скролла */
  background-color: rgba(0, 0, 0, 0.03);
  border-radius: 5px;
}

 /* ползунок скроллбара */
.desk-menu .container::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
