.footer {
  position: relative;
  background-color: $light-blue;
}

.footer__bottom {
  border-top: 1px solid rgba(0, 0, 0, 0.07);

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  @media (max-width: $media-td) {
    .link--black {
      font-size: 14px;
    }
  }

  @media (max-width: $media-tb) {
    .container {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
    }
  }
}

.footer__top {
  background-color: $light-blue-2;

  .fieldset {
    justify-content: flex-end;
  }
}

.footer__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  background-color: $blue;
  margin-right: 1.5rem;
}
