.pagination {
  li.active a {
    background-color: $blue;
    color: $white;
  }
}

.pagination a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 500;
  color: $blue;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 0 10px;
  background-color: $white;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);

  @media (min-width: $media-tb) {
    &:hover {
      color: $black;
    }
  }

  @media (max-width: $media-sm) {
    width: 35px;
    height: 35px;
    margin: 0 3px;
  }
}

a.pagination__arrow {
  border: 0;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid transparent;
  background-color: $white;
}

a.pagination__arrow--prev {
  margin: 0 35px 0 0;

  @media (max-width: $media-td) {
    margin: 0 10px 0 0;
  }

  @media (max-width: $media-sm) {
    margin: 0 3px 0 0;
  }
}

a.pagination__arrow--next {
  margin: 0 0 0 35px;

  @media (max-width: $media-td) {
    margin: 0 0 0 10px;
  }

  @media (max-width: $media-sm) {
    margin: 0 0 0 3px;
  }
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover {
  background-color: $blue;
  cursor: default;
}

.pagination__arrow--prev svg {
  transform: rotate(-180deg) translateX(2px);
}

.pagination__arrow--next svg {
  transform: translateX(2px);
}
