extends layouts/layout
include components/header
include components/footer
include components/desk-menu
include components/menu

block title
  | Cтраница каталога

block header
  +header()

block main
  main
    .pt-5.pb-5
      .container
        ul.list.breadcrumbs.d-none.d-md-flex.mb-4
            li.breadcrumbs__item
              a.breadcrumbs__link(href="/")
                span.breadcrumbs__span Главная
                span.breadcrumbs__arrow /
            li.breadcrumbs__item
              a.breadcrumbs__link(href="#")
                span.breadcrumbs__span Каталог
                span.breadcrumbs__arrow /
            li.breadcrumbs__item
              a.breadcrumbs__link.breadcrumbs__link--current Обувь

        h2.mb-2.wow.fadeInLeftSmall(data-wow-delay="200ms") Обувь

    .mb-90
      .container
        .row
          .col-sm-6.col-md-4.col-lg-3.mb-4
            a.card.card--good.card--sm.p-4(href="#")
              img.mb-4(src="/img/img-1.png", alt="")
              p.fs-20 Женская

          .col-sm-6.col-md-4.col-lg-3.mb-4
            a.card.card--good.card--sm.p-4(href="#")
              img.mb-4(src="/img/img-2.png", alt="")
              p.fs-20 Мужская

          .col-sm-6.col-md-4.col-lg-3.mb-4
            a.card.card--good.card--sm.p-4(href="#")
              img.mb-4(src="/img/img-3.png", alt="")
              p.fs-20 Детская




block footer
  +footer()

  .shade Ваши данные отправлены

  a.btn-up(href="#" aria-label="Наверх" id="upbutton")
    svg(width="18" height="22")
      use(xlink:href="img/sprite/sprite.svg#icon-arrow")

block modal
  +menu()
  +desk-menu()
