extends layouts/layout
include components/header
include components/footer
include components/desk-menu
include components/menu

block title
  | Cтраница каталога

block header
  +header()

block main
  main
    .pt-5.pb-5
      .container
        ul.list.breadcrumbs.d-none.d-md-flex.mb-4
            li.breadcrumbs__item
              a.breadcrumbs__link(href="/")
                span.breadcrumbs__span Главная
                span.breadcrumbs__arrow /
            li.breadcrumbs__item
              a.breadcrumbs__link(href="#")
                span.breadcrumbs__span Каталог
                span.breadcrumbs__arrow /
            li.breadcrumbs__item
              a.breadcrumbs__link(href="#")
                span.breadcrumbs__span Обувь
                span.breadcrumbs__arrow /
            li.breadcrumbs__item
              a.breadcrumbs__link.breadcrumbs__link--current Женская обувь

        h2.mb-2.wow.fadeInLeftSmall(data-wow-delay="200ms") Женская обувь

    .mb-90
      .container
        .d-flex.align-items-sm-center.flex-column.flex-sm-row.mb-3
          .d-flex.align-items-center
            p.pr-2.mb-0.color-grey Сортировка:

            select
              option(value="По возрастанию цены") По возрастанию цены
              option(value="По убыванию цены") По убыванию цены
              option(value="По популярности") По популярности

          p.mb-0.ml-sm-auto.mr-lg-5.color-grey
            span Всего товаров:
            span 336

          .d-none.d-lg-flex.align-items-center
            p.mb-0.color-grey.pr-3 Вид:

            .align-items-center.d-flex
              a.link.link-view.js-link-view.mr-3.js-col(href="#")
                svg(width="20" height="20")
                  use(xlink:href="img/sprite/sprite.svg#icon-col")
              a.link.link-view.js-link-view.js-row.active(href="#")
                svg(width="23" height="24")
                  use(xlink:href="img/sprite/sprite.svg#icon-row")

        .row
          .col-lg-3.mb-5.mb-lg-0
            a.js-filter-btn.btn.btn--blue.d-lg-none(href="#") Фильтр

            .filter.js-filter.p-4
              button.btn.btn-close.js-close-filter.d-lg-none(type="button" title="Закрыть фильтр" aria-label="Закрыть фильтр")

              form(method="POST" action="/")
                .mb-4.d-flex.flex-column
                  p.fs-20 Цена
                  .d-flex.justify-content-between.align-items-center.inputs-container.mb-2.pb-1
                    label.mb-0
                      input.js-number.input-number(type="text" value="600" name="min-price")
                      span от
                    label.mb-0.d-flex.justify-content-end
                      input.js-number.input-number(type="text" value="3999" name="max-price")
                      span до
                  .d-block.mb-1
                    input.js-range(type="text" name="range" value="")

                .mb-4.d-flex.flex-column
                  p.fs-20 Бренд

                  label.visually-hidden-input.checkbox
                    input(type="checkbox" value="Termit " name="Brand")
                    span.checkbox__span
                    span.checkbox__text
                      span Termit
                      span (2)

                  label.visually-hidden-input.checkbox
                    input(type="checkbox" value="Outventure" name="Brand")
                    span.checkbox__span
                    span.checkbox__text
                      span Outventure
                      span (4)

                  label.visually-hidden-input.checkbox
                    input(type="checkbox" value="Demix" name="Brand")
                    span.checkbox__span
                    span.checkbox__text
                      span Demix
                      span (9)

                  label.visually-hidden-input.checkbox
                    input(type="checkbox" value="Kappa" name="Brand")
                    span.checkbox__span
                    span.checkbox__text
                      span Kappa
                      span (1)

                  a.link.link--blue.link--underlined.fs-14.d-block.pb-2(href="#")
                    span Показать все

                .mb-4.d-flex.flex-column
                  p.fs-20 Сезон

                  label.visually-hidden-input.checkbox
                    input(type="checkbox" value="Зима" name="Season")
                    span.checkbox__span
                    span.checkbox__text
                      span Зима
                      span (140)

                  label.visually-hidden-input.checkbox
                    input(type="checkbox" value="Лето" name="Season")
                    span.checkbox__span
                    span.checkbox__text
                      span Лето
                      span (40)

                  label.visually-hidden-input.checkbox
                    input(type="checkbox" value="Межсезонье" name="Season")
                    span.checkbox__span
                    span.checkbox__text
                      span Межсезонье
                      span (9)

                  a.link.link--blue.link--underlined.fs-14.d-block.pb-2(href="#")
                    span Показать все

                .mb-4.d-flex.flex-column
                  p.fs-20 Размер

                  label.visually-hidden-input.checkbox
                    input(type="checkbox" value="36" name="Size")
                    span.checkbox__span
                    span.checkbox__text
                      span 36
                      span (2)

                  label.visually-hidden-input.checkbox
                    input(type="checkbox" value="37" name="Size")
                    span.checkbox__span
                    span.checkbox__text
                      span 37
                      span (4)

                  label.visually-hidden-input.checkbox
                    input(type="checkbox" value="38" name="Size")
                    span.checkbox__span
                    span.checkbox__text
                      span 38
                      span (9)

                  label.visually-hidden-input.checkbox
                    input(type="checkbox" value="39" name="Size")
                    span.checkbox__span
                    span.checkbox__text
                      span 39
                      span (1)

                  a.link.link--blue.link--underlined.fs-14.d-block.pb-4(href="#")
                    span Показать все

                .d-flex.flex-column
                  button.btn.btn--blue.mb-3(type="submit") Применить
                  button.btn.btn--border(type="reset") Сбросить

          .col-lg-9
            .catalog-content.js-catalog-content.catalog-content--row
              .row.mb-5
                .col-sm-6.col-md-4.mb-4.d-flex.catalog-content__item
                  .card.card--good
                    .marker.marker--pink
                      span Новинка
                    .card__favorite
                      label
                        input(type="checkbox" name="favorite" aria-label="Добавить в избранное")
                        span
                          svg(width="25" height="22")
                            use(xlink:href='img/sprite/sprite.svg#icon-fav')
                          svg(width="25" height="22")
                            use(xlink:href='img/sprite/sprite.svg#icon-fav-2')

                    a.link.d-block.card__main.p-3(href="#")
                      .card__img.mb-2
                        img(src="/img/good-1.png", alt="")
                      p.fs-14.fw-300.mb-2 Артикул:
                        span.ml-1 2ZE8VE49J5
                      p.fw-300.fs-18.color-black.card__title Тюбинг Nordway, 89 см*

                      .card__price
                        .price
                          span 5 999
                          span ₽

                    .card__side.p-3
                      .d-flex.quantity.js-quantity.align-items-center
                        button.btn.quantity__btn.js-decrease.mr-1(type="button" aria-Label="Уменьшить количество")
                          svg(width="12" height="12")
                            use(xlink:href="img/sprite/sprite.svg#icon-minus")

                        input.js-number(type="text" value="1" name="quantity-input-1" id="quantity-input-1")

                        button.btn.quantity__btn.js-increase.ml-1(type="button" aria-Label="Увеличить количество")
                          svg(width="12" height="12")
                            use(xlink:href="img/sprite/sprite.svg#icon-plus")

                      a.link.basket(href="#")
                        svg(width='23' height='23')
                          use(xlink:href="img/sprite/sprite.svg#icon-basket")


    .mb-90
      .container
        h2.mb-5.wow.fadeInLeftSmall(data-wow-delay="200ms") Популярные товары

        .js-popular-slider.slider-popular
          .swiper-container
            ul.list.swiper-wrapper
              li.swiper-slide.d-flex.p-2
                .card.card--good
                  .marker.marker--pink
                    span Новинка
                  .card__favorite
                    label
                      input(type="checkbox" name="favorite" aria-label="Добавить в избранное")
                      span
                        svg(width="25" height="22")
                          use(xlink:href='img/sprite/sprite.svg#icon-fav')
                        svg(width="25" height="22")
                          use(xlink:href='img/sprite/sprite.svg#icon-fav-2')

                  a.link.d-block.card__main.p-3(href="#")
                    .card__img.mb-2
                      img(src="/img/good-1.png", alt="")
                    p.fs-14.fw-300.mb-2 Артикул:
                      span.ml-1 2ZE8VE49J5
                    p.fw-300.fs-18.color-black.card__title Тюбинг Nordway, 89 см*

                    .card__price
                      .price
                        span 5 999
                        span ₽

                  .card__side.p-3
                    .d-flex.quantity.js-quantity.align-items-center
                      button.btn.quantity__btn.js-decrease.mr-1(type="button" aria-Label="Уменьшить количество")
                        svg(width="12" height="12")
                          use(xlink:href="img/sprite/sprite.svg#icon-minus")

                      input.js-number(type="text" value="1" name="quantity-input-1" id="quantity-input-1")

                      button.btn.quantity__btn.js-increase.ml-1(type="button" aria-Label="Увеличить количество")
                        svg(width="12" height="12")
                          use(xlink:href="img/sprite/sprite.svg#icon-plus")

                    a.link.basket(href="#")
                      svg(width='23' height='23')
                        use(xlink:href="img/sprite/sprite.svg#icon-basket")

              li.swiper-slide.d-flex.p-2
                .card.card--good
                  .marker.marker--purple
                    span Все покупают
                  .card__favorite
                    label
                      input(type="checkbox" name="favorite" aria-label="Добавить в избранное")
                      span
                        svg(width="25" height="22")
                          use(xlink:href='img/sprite/sprite.svg#icon-fav')
                        svg(width="25" height="22")
                          use(xlink:href='img/sprite/sprite.svg#icon-fav-2')
                  a.link.d-block.card__main.p-3(href="#")
                    .card__img.mb-2
                      img(src="/img/good-2.png", alt="")
                    p.fs-14.fw-300.mb-2 Артикул:
                      span.ml-1 2ZE8VE49J5
                    p.fw-300.fs-18.color-black.card__title Коньки раздвижные детские Nordway Click-girl

                    .card__prices-block
                      .card__prices
                        .card__price
                          span 2 499
                          span ₽
                        .card__price.card__price--old
                          span 6 999
                          span ₽

                      .card__sale
                        span -20
                        span %

                  .card__side.p-3
                    .d-flex.quantity.js-quantity.align-items-center
                      button.btn.quantity__btn.js-decrease.mr-1(type="button" aria-Label="Уменьшить количество")
                        svg(width="12" height="12")
                          use(xlink:href="img/sprite/sprite.svg#icon-minus")

                      input.js-number(type="text" value="1" name="quantity-input-2" id="quantity-input-2")

                      button.btn.quantity__btn.js-increase.ml-1(type="button" aria-Label="Увеличить количество")
                        svg(width="12" height="12")
                          use(xlink:href="img/sprite/sprite.svg#icon-plus")

                    a.link.basket(href="#")
                      svg(width='23' height='23')
                        use(xlink:href="img/sprite/sprite.svg#icon-basket")

              li.swiper-slide.d-flex.p-2
                .card.card--good
                  .marker.marker--peach
                    span Лучшая цена
                  .card__favorite
                    label
                      input(type="checkbox" name="favorite" aria-label="Добавить в избранное")
                      span
                        svg(width="25" height="22")
                          use(xlink:href='img/sprite/sprite.svg#icon-fav')
                        svg(width="25" height="22")
                          use(xlink:href='img/sprite/sprite.svg#icon-fav-2')
                  a.link.d-block.card__main.p-3(href="#")
                    .card__img.mb-2
                      img(src="/img/good-3.png", alt="")
                    p.fs-14.fw-300.mb-2 Артикул:
                      span.ml-1 2ZE8VE49J5
                    p.fw-300.fs-18.color-black.card__title Сноуборд Termit Fastlanel

                    .card__prices-block
                      .card__prices
                        .card__price
                          span 10 999
                          span ₽


                  .card__side.p-3
                    .d-flex.quantity.js-quantity.align-items-center
                      button.btn.quantity__btn.js-decrease.mr-1(type="button" aria-Label="Уменьшить количество")
                        svg(width="12" height="12")
                          use(xlink:href="img/sprite/sprite.svg#icon-minus")

                      input.js-number(type="text" value="1" name="quantity-input-3" id="quantity-input-3")

                      button.btn.quantity__btn.js-increase.ml-1(type="button" aria-Label="Увеличить количество")
                        svg(width="12" height="12")
                          use(xlink:href="img/sprite/sprite.svg#icon-plus")

                    a.link.basket(href="#")
                      svg(width='23' height='23')
                        use(xlink:href="img/sprite/sprite.svg#icon-basket")

              li.swiper-slide.d-flex.p-2
                .card.card--good
                  .marker.marker--pink
                    span Новинка
                  .card__favorite
                    label
                      input(type="checkbox" name="favorite" aria-label="Добавить в избранное")
                      span
                        svg(width="25" height="22")
                          use(xlink:href='img/sprite/sprite.svg#icon-fav')
                        svg(width="25" height="22")
                          use(xlink:href='img/sprite/sprite.svg#icon-fav-2')
                  a.link.d-block.card__main.p-3(href="#")
                    .card__img.mb-2
                      img(src="/img/good-4.png", alt="")
                    p.fs-14.fw-300.mb-2 Артикул:
                      span.ml-1 2ZE8VE49J5
                    p.fw-300.fs-18.color-black.card__title Коньки раздвижные детские Nordway Click-girl

                    .card__prices-block
                      .card__prices
                        .card__price
                          span 1 999
                          span ₽

                  .card__side.p-3
                    .d-flex.quantity.js-quantity.align-items-center
                      button.btn.quantity__btn.js-decrease.mr-1(type="button" aria-Label="Уменьшить количество")
                        svg(width="12" height="12")
                          use(xlink:href="img/sprite/sprite.svg#icon-minus")

                      input.js-number(type="text" value="1" name="quantity-input-4" id="quantity-input-4")

                      button.btn.quantity__btn.js-increase.ml-1(type="button" aria-Label="Увеличить количество")
                        svg(width="12" height="12")
                          use(xlink:href="img/sprite/sprite.svg#icon-plus")

                    a.link.basket(href="#")
                      svg(width='23' height='23')
                        use(xlink:href="img/sprite/sprite.svg#icon-basket")

              li.swiper-slide.d-flex.p-2
                .card.card--good
                  .marker.marker--pink
                    span Новинка
                  .card__favorite
                    label
                      input(type="checkbox" name="favorite" aria-label="Добавить в избранное")
                      span
                        svg(width="25" height="22")
                          use(xlink:href='img/sprite/sprite.svg#icon-fav')
                        svg(width="25" height="22")
                          use(xlink:href='img/sprite/sprite.svg#icon-fav-2')
                  a.link.d-block.card__main.p-3(href="#")
                    .card__img.mb-2
                      img(src="/img/good-4.png", alt="")
                    p.fs-14.fw-300.mb-2 Артикул:
                      span.ml-1 2ZE8VE49J5
                    p.fw-300.fs-18.color-black.card__title Коньки раздвижные детские Nordway Click-girl

                    .card__prices-block
                      .card__prices
                        .card__price
                          span 15 999
                          span ₽

                  .card__side.p-3
                    .d-flex.quantity.js-quantity.align-items-center
                      button.btn.quantity__btn.js-decrease.mr-1(type="button" aria-Label="Уменьшить количество")
                        svg(width="12" height="12")
                          use(xlink:href="img/sprite/sprite.svg#icon-minus")

                      input.js-number(type="text" value="1" name="quantity-input-6" id="quantity-input-6")

                      button.btn.quantity__btn.js-increase.ml-1(type="button" aria-Label="Увеличить количество")
                        svg(width="12" height="12")
                          use(xlink:href="img/sprite/sprite.svg#icon-plus")

                    a.link.basket(href="#")
                      svg(width='23' height='23')
                        use(xlink:href="img/sprite/sprite.svg#icon-basket")

              li.swiper-slide.d-flex.p-2
                .card.card--good
                  .marker.marker--pink
                    span Новинка
                  .card__favorite
                    label
                      input(type="checkbox" name="favorite" aria-label="Добавить в избранное")
                      span
                        svg(width="25" height="22")
                          use(xlink:href='img/sprite/sprite.svg#icon-fav')
                        svg(width="25" height="22")
                          use(xlink:href='img/sprite/sprite.svg#icon-fav-2')
                  a.link.d-block.card__main.p-3(href="#")
                    .card__img.mb-2
                      img(src="/img/good-4.png", alt="")
                    p.fs-14.fw-300.mb-2 Артикул:
                      span.ml-1 2ZE8VE49J5
                    p.fw-300.fs-18.color-black.card__title Коньки раздвижные детские Nordway Click-girl

                    .card__prices-block
                      .card__prices
                        .card__price
                          span 10 999
                          span ₽

                  .card__side.p-3
                    .d-flex.quantity.js-quantity.align-items-center
                      button.btn.quantity__btn.js-decrease.mr-1(type="button" aria-Label="Уменьшить количество")
                        svg(width="12" height="12")
                          use(xlink:href="img/sprite/sprite.svg#icon-minus")

                      input.js-number(type="text" value="1" name="quantity-input-7" id="quantity-input-7")

                      button.btn.quantity__btn.js-increase.ml-1(type="button" aria-Label="Увеличить количество")
                        svg(width="12" height="12")
                          use(xlink:href="img/sprite/sprite.svg#icon-plus")

                    a.link.basket(href="#")
                      svg(width='23' height='23')
                        use(xlink:href="img/sprite/sprite.svg#icon-basket")



          .swiper-button-next
            svg(width="22" height="38")
              use(xlink:href="img/sprite/sprite.svg#icon-arrow")
          .swiper-button-prev
            svg(width="22" height="38")
              use(xlink:href="img/sprite/sprite.svg#icon-arrow")


block footer
  +footer()

  .shade Ваши данные отправлены

  a.btn-up(href="#" aria-label="Наверх" id="upbutton")
    svg(width="18" height="22")
      use(xlink:href="img/sprite/sprite.svg#icon-arrow")

  .overlay

block modal
  +menu()
  +desk-menu()
