extends layouts/layout
//- include components/header
include components/footer
//- include components/menu

block title
  | Главная страница

block header
  //- +header()

block main
  main
    .mb-90
      .container
        h2.mb-5 Каталог товаров

        .text-center
          a.btn.btn--blue(href="#") Все категории

    .mb-90.bg-light-blue.lead-block
      .container
        .row
          .col-md-6.pt-5.pb-5.d-flex.justify-content-center
            .lead-block__text
              p.fs-14.mb-0.color-grey.fw-300 Походная обувь
              h3.mb-2.fw-600 Новое поступление
              p Удобная обувь для вашего путешествия по низким ценам!
              a.btn.btn--blue(href="#") В каталог


          .col-md-6.pb-3
            .photo.bg.h-100.bg--contain.d-block(style="background-image: url(/img/lead-1.png);")

    .mb-90
      .container
        h2.mb-5 Популярные товары

        .js-slider-popular
          .swiper-container.slider-popular
            ul.list.swiper-wrapper
              li.swiper-slide.d-flex.p-2
                .card.card--good
                  .marker.marker--pink
                    span Новинка
                  a.link.d-block.card__main.p-3(href="#")
                    .card__img.mb-2
                      img(src="/img/good-1.png", alt="")
                    p.fs-14.fw-300.mb-2 Артикул:
                      span.ml-1 2ZE8VE49J5
                    p.fw-300.fs-18.color-black Тюбинг Nordway, 89 см*

                    .price
                      span 5 999
                      span ₽

                  .card__side.p-3
                    .d-flex.quantity.js-quantity.align-items-center
                      button.btn.quantity__btn.js-decrease.mr-1(type="button" aria-Label="Уменьшить количество")
                        svg(width="12" height="12")
                          use(xlink:href="img/sprite/sprite.svg#icon-minus")

                      input.js-number(type="text" value="1" name="quantity-input-1" id="quantity-input-1")

                      button.btn.quantity__btn.js-increase.ml-1(type="button" aria-Label="Увеличить количество")
                        svg(width="12" height="12")
                          use(xlink:href="img/sprite/sprite.svg#icon-plus")

                    a.link.basket(href="#")
                      svg(width='23' height='23')
                        use(xlink:href="img/sprite/sprite.svg#icon-basket")

              li.swiper-slide.d-flex.p-2
                .card.card--good
                  .marker.marker--purple
                    span Все покупают
                  a.link.d-block.card__main.p-3(href="#")
                    .card__img.mb-2
                      img(src="/img/good-2.png", alt="")
                    p.fs-14.fw-300.mb-2 Артикул:
                      span.ml-1 2ZE8VE49J5
                    p.fw-300.fs-18.color-black Коньки раздвижные детские Nordway Click-girl

                    .price
                      span 2 499
                      span ₽

                  .card__side.p-3
                    .d-flex.quantity.js-quantity.align-items-center
                      button.btn.quantity__btn.js-decrease.mr-1(type="button" aria-Label="Уменьшить количество")
                        svg(width="12" height="12")
                          use(xlink:href="img/sprite/sprite.svg#icon-minus")

                      input.js-number(type="text" value="1" name="quantity-input-2" id="quantity-input-2")

                      button.btn.quantity__btn.js-increase.ml-1(type="button" aria-Label="Увеличить количество")
                        svg(width="12" height="12")
                          use(xlink:href="img/sprite/sprite.svg#icon-plus")

                    a.link.basket(href="#")
                      svg(width='23' height='23')
                        use(xlink:href="img/sprite/sprite.svg#icon-basket")

              li.swiper-slide.d-flex.p-2
                .card.card--good
                  .marker.marker--peach
                    span Лучшая цена
                  a.link.d-block.card__main.p-3(href="#")
                    .card__img.mb-2
                      img(src="/img/good-3.png", alt="")
                    p.fs-14.fw-300.mb-2 Артикул:
                      span.ml-1 2ZE8VE49J5
                    p.fw-300.fs-18.color-black Сноуборд Termit Fastlanel

                    .price
                      span 10 999
                      span ₽

                  .card__side.p-3
                    .d-flex.quantity.js-quantity.align-items-center
                      button.btn.quantity__btn.js-decrease.mr-1(type="button" aria-Label="Уменьшить количество")
                        svg(width="12" height="12")
                          use(xlink:href="img/sprite/sprite.svg#icon-minus")

                      input.js-number(type="text" value="1" name="quantity-input-3" id="quantity-input-3")

                      button.btn.quantity__btn.js-increase.ml-1(type="button" aria-Label="Увеличить количество")
                        svg(width="12" height="12")
                          use(xlink:href="img/sprite/sprite.svg#icon-plus")

                    a.link.basket(href="#")
                      svg(width='23' height='23')
                        use(xlink:href="img/sprite/sprite.svg#icon-basket")

              li.swiper-slide.d-flex.p-2
                .card.card--good
                  .marker.marker--pink
                    span Новинка
                  a.link.d-block.card__main.p-3(href="#")
                    .card__img.mb-2
                      img(src="/img/good-4.png", alt="")
                    p.fs-14.fw-300.mb-2 Артикул:
                      span.ml-1 2ZE8VE49J5
                    p.fw-300.fs-18.color-black Коньки раздвижные детские Nordway Click-girl

                    .price
                      span 1 599
                      span ₽

                  .card__side.p-3
                    .d-flex.quantity.js-quantity.align-items-center
                      button.btn.quantity__btn.js-decrease.mr-1(type="button" aria-Label="Уменьшить количество")
                        svg(width="12" height="12")
                          use(xlink:href="img/sprite/sprite.svg#icon-minus")

                      input.js-number(type="text" value="1" name="quantity-input-4" id="quantity-input-4")

                      button.btn.quantity__btn.js-increase.ml-1(type="button" aria-Label="Увеличить количество")
                        svg(width="12" height="12")
                          use(xlink:href="img/sprite/sprite.svg#icon-plus")

                    a.link.basket(href="#")
                      svg(width='23' height='23')
                        use(xlink:href="img/sprite/sprite.svg#icon-basket")


          .swiper-button-next
            svg(width="22" height="38")
              use(xlink:href="img/sprite/sprite.svg#icon-arrow")
          .swiper-button-prev
            svg(width="22" height="38")
              use(xlink:href="img/sprite/sprite.svg#icon-arrow")


    .mb-90
      .container
        h2.mb-5 Новости

        .row
          .col-lg-9
            .row
              .col-md-6
                a.card.card--news.card--lg(href="#")
                  .card__side.bg(style="background-image: url(/img/image-1.jpg);")

                  .card__main.p-4
                    p.fw-600.fs-20.color-white Изменился режим работы магазина 30-31 декабря
                    p.date 25.12.2020

              .col-md-6
                a.card.card--news.mb-4(href="#")
                  .card__side.bg(style="background-image: url(/img/image-2.jpg);")

                  .card__main.p-4
                    p.fw-600.fs-20.color-white Подарочный сертификат - лучший подарок!
                    p.date 25.12.2020

                a.card.card--news(href="#")
                  .card__side.bg(style="background-image: url(/img/image-3.jpg);")

                  .card__main.p-4
                    p.fw-600.fs-20.color-white Новые условия работы
                    p.date 25.12.2020


          .col-lg-3
            .bg-light-blue.border-radius.p-4
              p.fw-600.fs-20.mb-4 Также рекомендуем
              ul.list.mb-4
                li
                  a.link.link--black.d-block.pb-4.pt-2(href="#") Как выбрать удочку
                li
                  a.link.link--black.d-block.pb-4.pt-2(href="#") Рассказываем все про горные лыжи
                li
                  a.link.link--black.d-block.pb-4.pt-2(href="#") Домашние тренировки
                li
                  a.link.link--black.d-block.pb-4.pt-2(href="#") Спортивные мероприятия в нашем магазине
                li
                  a.link.link--black.d-block.pb-4.pt-2(href="#") Как выбрать сноуборд
              .text-center
                a.btn.btn--blue(href="#") Все статьи

block footer
  +footer()

  .shade Ваши данные отправлены

  a.btn-up(href="#" aria-label="Наверх" id="upbutton")
    svg(width="18" height="22")
      use(xlink:href="img/sprite/sprite.svg#icon-arrow")

block modal
  //- +menu()

