mixin header(data)
  header.header(class!=attributes.class)
    .container
      .header__top
        .d-flex
          .d-flex.align-items-start
            img.mr-1(src="/img/icons/pin.svg", alt="")
            span Камень на оби

        .d-flex

      .header__middle

      .header__bottom

