.link {
  transition: all 0.3s;
}

.link--black {
  color: $black;

  &:active {
    color: $blue;
  }

  @media (min-width: $media-tb) {
    &:hover {
      color: $blue;
    }
  }
}

.link--blue {
  color: $blue;

  &:active {
    color: $blue-2;
  }

  @media (min-width: $media-tb) {
    &:hover {
      color: $blue-2;
    }
  }
}

.link--grey {
  color: $grey;

  &:active {
    color: $blue;
  }

  @media (min-width: $media-tb) {
    &:hover {
      color: $blue;
    }
  }
}

.link--underlined {
  span {
    border-bottom: 1px dashed;
  }
}

.link-view {
  margin-top: 4px;
  color: rgba($black, 0.4);

  &.active {
    color: $blue;
    cursor: default;
  }

  @media (min-width: $media-tb) {
    &:hover {
      color: $blue-2;

      &.active {
        color: $blue;
      }
    }
  }
}
