//переменные цветов
$black: #000000;
$white: #ffffff;
$grey: rgba(0, 0, 0, 0.5);
$blue: #3E7AEA;
$blue-2: #0059fe;
$light-blue: #F4F8FB;
$light-blue-2: #E8F0F7;

//переменные шрифтов
$font: "Nunito", "Arial", sans-serif;

//переменные для перестроения
$media-lg: 1439px;
$media-md: 1199px;
$media-dt: 1023px;
$media-td: 991px;
$media-tb: 767px;
$media-sm: 575px;
$media-m: 320px;
